@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;
@use '../../styles/center.scss' as *;

.c-about {
  padding: 10rem 0;
  background-color: transparent;
  @include fade-border-bottom();

  &__wrapper {
    @include displayCenter();
    display: flex;
    flex-direction: column;
    gap: 0;

  }

  &__video-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;

    @media (max-width: 992px) {
      margin-bottom: 4rem;
    }
  }

  &__video-container {
    position: relative;
    width: 80%;
    max-width: 1400px;
    height: auto;
    padding-bottom: 45.20%; 
    overflow: hidden;
    border-radius: 8px;

    @media (max-width: 992px) {
      width: 100%;
      padding-bottom: 56.25%; // 16:9 aspect ratio
    }
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  &__content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    @include fade-border-bottom();

    @media (max-width: 992px) {
      flex-direction: column;
      gap: 2rem;
    }
  }


  &__content {
    width: 72%;
    @media (max-width: 992px) {
      width: 100%;
    }
  }
  &__timeline-container {
    width: 28%;
    @media (max-width: 992px) {
      width: 100%;
    }
  }
  &__content-title {
    font-size: 33px;
    font-weight: 600;
    color: var(--text-primary);
    margin: 0;
    line-height: 1.6;

    @media (max-width: 992px) {
      font-size: 24px;
    }
  }
  &__content-text {
    font-size: 1.1rem;
    line-height: 1.8;
    color: var(--text-primary);
    font-weight: 400;
    margin-bottom: 2rem;

    @media (max-width: 992px) {
      font-size: 16px;
    }
  }


}