@use '../../../styles/variables.scss' as *;
@use '../../../styles/mixins.scss' as *;

.c-stats {
    padding: 5rem 0;
    background-color: transparent;
    @include fade-border-bottom();
  
    &__grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 2rem;
  
      @media (max-width: 992px) {
        grid-template-columns: repeat(3, 1fr);
      }
  
      @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }
  
      @media (max-width: 576px) {
        grid-template-columns: 1fr;
      }
    }
  
    &__item {
      text-align: center;
    }
  
    &__number {
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
      color: $primary-color;
    }
  
    &__label {
      font-size: 1rem;
      color: $secondary-color;
      text-transform: uppercase;
    }
  }
  