@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.c-features {
  background-color: transparent;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 2rem;
  @include fade-border-bottom();

  &__wrapper {
    max-width: 1400px;
    margin: 0 auto;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }

  }

  &__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-10px);
    }

    @media (max-width: 1024px) {
      padding: 1rem;
    }
    @media (max-width: 576px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 0.5rem;
    }
  }

  &__icon {
    flex-shrink: 0;
    color: $primary-color;

    img {
      width: 50px;
      height: 50px;
      object-fit: contain;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 400;
    margin: 0;

    @media (max-width: 576px) {
      font-size: 14px;
    }
  }

  &__description {
    color: $text-color;
    line-height: 1.6;

  }
}


