@use '../../styles/center.scss' as *;

.c-loader {
    @include displayCenter();
    height: auto;
    min-height: 100vh;
    background-color: var(--bg-primary);
    width: 100%;
    position: relative;


    &__spin {
      height: 45px;
      width: 45px;
      border-radius: 50%;
      border: 3px solid;
      border-color: var(--primary-color) transparent;
      animation: spin 1s infinite ease-out;
      opacity: 0.5;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
