@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.c-stats {
    padding: 5rem 0;
    background-color: transparent;
    @include fade-border-bottom();
    text-align: center;

  
    &__grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
  
      @media (max-width: 576px) {
        grid-template-columns: 1fr;
      }
    }
  
    &__item {
      text-align: center;
    }
  
    &__number {
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
      color: $primary-color;
    
    &::after {
      content: '+';
      font-size: 2.5rem;
      color: $primary-color;
      margin-left: 0.2rem;
    }
    }
  
    &__label {
      font-size: 1.8rem;
      color: $text-color;
      font-weight: 400;
    }
  }
  