// Color variables
$primary-color: #24a520;
$primary-hover: #1e8a1a;
$primary-hover-background: #c8e8c7;
$secondary-color: #333;
$text-color: #444;
$light-bg: #f9f9f9;
$white: #fff;
$light-gray: #f5f5f5;
$border-color: #ddd;
$disabled-color: #ccc;
