@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.c-contact-container {
    padding: 4rem 0;
    background-color: transparent;
 
    &__wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    @media (max-width: 1024px) {
      flex-direction: column;
      gap: 2rem;
      width: 100%;
      padding: 0 1rem;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 16px;
    border: 1px solid var(--border-color);
    padding: 1.5rem;
    width: 30%;
    @media (max-width: 1024px) {
      width: 100%;
      text-align: center;
    }
  }

  &__details-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: start;

    @media (max-width: 1024px) {
      text-align: center;
    }
  }

  &__details-description {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 2rem;
    text-align: start;

    @media (max-width: 1024px) {
      text-align: center;
    }
  }

  &__details-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;


}

  &__details-item {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;
    @media (max-width: 1024px) {
        @include fade-border-bottom();
        padding: 1rem 0;
        align-items: center;
    }
  }

  &__details-item-label {
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-transform: capitalize;

  }
  &__details-item-value {
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--primary-color) !important;

    svg{
      fill: var(--primary-color);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 16px;
    border: 1px solid var(--border-color);
    width: 70%;
    @media (max-width: 1024px) {
      width: 100%;
    }
    h2 {
        font-size: 2rem !important;
        text-align: start !important;
        font-weight: 700 !important;
    }
    p {
        font-size: 1.2rem !important;
        text-align: start !important;
        font-weight: 400 !important;
        color: var(--text-secondary) !important;
        padding-bottom: 1rem !important;
    }
  }

  &__form-form {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
}