@use '../../../styles/variables.scss' as *;
@use '../../../styles/mixins.scss' as *;

.c-campaign-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  margin-bottom: 5rem;
  padding: 5rem 0;
  @include fade-border-bottom();

  @media (max-width: 992px) {
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-bottom: 3rem;
    padding: 2rem 0;

  }

  &--reverse {
    justify-items: end;

    .c-campaign-item__image-wrapper {
      order: 2;
      justify-self: end;

      @media (max-width: 992px) {
        order: 1;
        justify-self: stretch;
      }
    }

    .c-campaign-item__content {
      order: 1;
      justify-self: end;

      @media (max-width: 992px) {
        order: 2;
        justify-self: stretch;
      }
    }
  }

  &__image-wrapper {
    width: 100%;
    height: 100%;
    min-height: 400px;
    max-width: 500px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 24px var(--shadow-color, rgba(0, 0, 0, 0.12));
    justify-self: start;

    @media (max-width: 992px) {
      min-height: 300px;
      max-width: 100%;
      justify-self: stretch;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    color: $text-color;
    line-height: 1.3;
    margin: 0;
    white-space: pre-line;

    @media (max-width: 992px) {
      font-size: 1.75rem;
    }

    @media (max-width: 576px) {
      font-size: 1.5rem;
    }
  }

  &__text {
    font-size: 1.1rem;
    line-height: 1.8;
    color: $text-color;
    white-space: pre-line;

    @media (max-width: 576px) {
      font-size: 1rem;
    }
  }

  &__button {
    align-self: flex-start;
    margin-top: 0.5rem;

    @media (max-width: 992px) {
      align-self: center;
    }
  }
}

