@import '../../../styles/variables.scss';

.c-footer {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  padding: 3rem 0;

  &__content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 0 2rem;

    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 576px) {
      grid-template-columns: 1fr;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    color: var(--text-primary);
  }

  &__link {
    color: var(--gray-medium);
    text-decoration: none;
    margin-bottom: 0.8rem;
    transition: color 0.3s ease;

    &:hover {
      color: $primary-color;
    }
  }

  &__contact-info {
    margin-top: 2rem;
  }

  &__contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__contact-text {
    margin-left: 0.5rem;
  }

  &__copyright {
    max-width: 1200px;
    margin: 2rem auto 0;
    padding: 2rem 2rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__copyright-text {
    color: var(--gray-dark);
    font-size: 0.9rem;
    
    @media (max-width: 768px) {
      margin-bottom: 1rem;
    }
  }

  &__copyright-links {
    display: flex;
  }

  &__copyright-link {
    color: var(--gray-dark);
    text-decoration: none;
    margin-left: 1.5rem;
    font-size: 0.9rem;
    transition: color 0.3s ease;

    &:hover {
      color: $primary-color;
    }
    
    @media (max-width: 768px) {
      margin-left: 0;
      margin-right: 1.5rem;
    }
  }
}
