@use '../../styles/variables.scss' as *;

.c-campaigns {
  padding: 5rem 0;
  background-color: var(--bg-primary);

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 4rem;
    color: $text-color;

    @media (max-width: 992px) {
      font-size: 2rem;
      margin-bottom: 3rem;
    }

    @media (max-width: 576px) {
      font-size: 1.75rem;
      margin-bottom: 2rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }
}