@use '../styles/variables.scss' as *;

.c-layout {
  &__main {
    min-height: 100vh;
  }
}

:global(.section-container) {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;

  @media (max-width: 576px) {
    padding: 0 1rem;
  }
}

